createdAt: "2020-01-21T11:29:50.432Z"
updatedAt: "2020-01-21T11:42:18.502Z"
type: "MARKDOWN_NOTE"
folder: "a1fa9728381e349d90c1"
title: "Обучение по книге Брайсона Пейна 'Легкий способ выучить Java'"
tags: [
  "java"
  "programming"
]
content: '''
  # Обучение по книге Брайсона Пейна 'Легкий способ выучить Java'
  <sub>[Данное опредение Java взято из Википедии](https://ru.wikipedia.org/wiki/Java)</sub>
  
  <div style="border 1px solid black;">
  Java — строго типизированный объектно-ориентированный язык программирования, разработанный компанией Sun Microsystems (в последующем приобретённой компанией Oracle). Разработка ведётся сообществом, организованным через Java Community Process, язык и основные реализующие его технологии распространяются по лицензии GPL. Права на торговую марку принадлежат корпорации Oracle.
  
  Приложения Java обычно транслируются в специальный байт-код, поэтому они могут работать на любой компьютерной архитектуре, для которой существует реализация виртуальной Java-машины. Дата официального выпуска — 23 мая 1995 года. На 2019 год Java — один из самых популярных языков программирования. 
  </div>
  
'''
linesHighlighted: [
  0
]
isStarred: false
isTrashed: false
